<!-- CSS styles -->

@charset "utf-8";

p, {
	font-family: 'Lato', sans-serif;
}


header strong { 
	font-weight: 150; 
	display: inline-block; 
	color: #646464; 
	font-size: 60px; 
	padding-top: 65px; 
}

header strong span { 
	color: #4D94FF; 
	font-weight: 400; 
	font-size: 106px; 
	position: relative; 
	top: -50px; 
	margin-right: 5px; 
}

header p { 
	color: #646464; 
	font-size: 20px; 
	padding-top: 50px;
	font-family: 'Lato', sans-serif;

}

header p.darker { 
	color: #3f3f3f; 
}

header div.me { 
	padding-top: 10px; 
	padding-right: 0px;
	height: 100%; 
	right: 0; 
}

header img { 
       margin: 0 auto;
}

.fa-terminal {
	color: #646464;
}

main { 
	padding: 3.2em 0; 
}

main h2 { 
	line-height: 1.385; 
	color: #000000; 
	font-size: 40px; 
	font-weight: 400; 
	font-family: 'Lato', sans-serif;
}


#skills {

}


#job {
	background-color:; 
}

#bring { 
	background: #99CCFF; 
	color: #000000;
	text-align: center;
}

#bring h2 { 
	color: #000000; 
}

#bring ul { 
	padding-left: 0; 
	list-style: none; 
}

#bring ul li { 
	padding-left: 40px; 
	margin-bottom: 22px; 
	line-height: 1.5em; 
	font-size: 20px; 
}

#bring ul li:before { 
	content: '\f00c'; 
	display: inline-block; 
	width: 40px; 
	margin-left: -40px;
}

#bring a.btn { 
	float: left; 
	display: inline-block; 
	border-radius: 4px; 
	background-color: #f5f5f5; 
	padding: 18px 16px 18px 16px;
	color: #646464; 
	-moz-transition: all 0.2s ease; 
	-webkit-transition: all 0.2s ease; 
	-o-transition: all 0.2s ease; 
	transition: all 0.2s ease; 
}

#bring a.btn:hover { 
	text-decoration: none; 
}

#bring a.btn.github:hover { 
	background-color: #555; 
	color: #FFF; 
}

#bring a.btn i { 
	font-size: 42px; 
	float: left; 
	display: block; 
	padding-top: 5px; 
}

#bring a.btn span { 
	font-size: 12px; 
	margin-left: 50px; 
	text-align: left; 
	padding-top: 5px; 
	display: block; 
	text-transform: uppercase; 
	line-height: 12px; 
}

#bring a.btn strong { 
	font-size: 28px; 
	margin-left: 50px; 
	display: block; 
	line-height: 36px; 
}

#git { 
	font-size: 60px;
	text-align: center;
}

#git h2 { 
	color: #3D3D5C; 
}

#git ul {
	list-style: none;
}

#git li {
	display: inline-block;
}

#hobby { 
	text-align: center; 
	background: #F6F7F7;
}

#hobby img { 
	width: 100%; 
	height: 200px; 
}

#hobby figcaption { 
	font-size: 16px; 
	color: #6b6b6b; 
	text-transform: uppercase; 
	font-weight: bold; 
}

#mail {
	text-align: center;
}

#mail ul {
	list-style: none;
}

footer {
	background: #F9F9F9;
	font-size: 13px;
	text-align: center;
}