<!-- CSS styles -->

@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);

body {
	font-family: 'Lato';
}

header {
	background-color: #666699;
	height: 500px;
	width: 100%;
}

header p { 
	color: #646464; 
	font-size: 40px; 
}

header p.darker { 
	color: #3f3f3f; 
}

main { 
	padding: 3.2em 0; 
	background-color: #eb4450; 
}
main h1 { 
	text-align: center; 
	line-height: 1.385; 
	color: #FFF; 
	font-size: 40px; 
	font-weight: 400; 
}

#git { 
	background-color: #3B7C5C; 
}

#git h2 { 
	color: #3D3D5C; 
}