.terminal__wrapper {
    background-color: purple;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem;
}

.terminal__bar {
    inline-size: auto;
    min-block-size: 2rem;
    min-inline-size: 40rem;
    background-color: yellow;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: left;
    align-items: center;
    border-radius: 3% 3% 0 0;
}

.dot {
    display: block;
    width: 20px; /* Adjust size as needed */
    height: 20px; /* Adjust size as needed */
    background-color: pink;
    border-radius: 50%; 
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.green {
    background-color: green;
}

.terminal {
    background-color: lightpink;
    border-radius: 0 0 3% 3%;
    min-inline-size: 40rem;
    padding: 1rem;
}