@import "../../stylesheets/colors";


.header__wrapper {
    text-align: center;
} 

.header {
    background-color: $raisin-black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header__logo {
    height: 40vmin;
    pointer-events: none;
}
  

h1 {
    color: $seasalt;
    font-weight: 700;
    font-size: calc(16px + 2vmin);
}

h2 {
    color: $zomp;
    font-size: calc(14px + 2vmin);
}


.github__logo {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url('./images/github.svg');
    background-repeat: no-repeat;
    background-size: contain;
    margin-block-start: 2rem;
}