$grey: #002642;
$cherry: #840032;
$mustard: #e59500;
$light: #e5dada;
$darkness: #02040f;

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    font-size: clamp(1.6rem, 2vw, 2.4rem);
    margin: 0 auto;
    max-width: 100.25rem;
}

.item {
padding: 1rem;
}

.one {
    background-color: $grey;
    grid-area: 1 / 2 / 2 / 6;
}

.two {
    background-color: $cherry;
    grid-area: 2 / 1 / 5 / 2;
}

.three {
    background-color: $mustard;
    grid-area: 2 / 2 / 3 / 3;
}

.four {
    background-color: $light;
    grid-area: 2 / 2 / 4 / 4;
}

.five {
    background-color: $darkness;
    grid-area: 2 / 4 / 6 / 6;
}

.six {
    background-color: $cherry;
    grid-area: 4 / 2 / 6 / 4;
}